[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
jn = "jupyter-notebook"
build = "jb build src"

[packages]
jupyter = "*"
jupyter-book = "*"

[dev-packages]

[requires]
python_version = "3.9"
